obj/Debug/net8.0/JobApplicationTracker.AssemblyInfo.cs
obj/Debug/net8.0/JobApplicationTracker.AssemblyInfoInputs.cache
obj/Debug/net8.0/JobApplicationTracker.assets.cache
obj/Debug/net8.0/JobApplicationTracker.GeneratedMSBuildEditorConfig.editorconfig
